<div id="title">
	<h1>Kohana Project Template</h1>
	<p>Project template for creating new KO3 projects</p>
	<hr />
	<span class="credits left">Project maintained by <a href="https://github.com/Zeelot">Zeelot</a></span>
	<span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span>
</div>
<h2>Development Tools</h2>
<div class="banner-images">
	<img class="left" src="{{media_base_path}}/images/logos/vagrant.png" />
	<img class="right" src="{{media_base_path}}/images/logos/chef.png" />
</div>
<div class="dev-tool">
	<h3>Vagrant</h3>
	<p>Create and configure lightweight, reproducible, and portable development environments.</p>
</div>
<div class="dev-tool">
	<h3>Chef</h3>
	<p>An open-source systems integration framework built specifically for automating the cloud.</p>
</div>
<div class="dev-tool">
	<h3>Foreman</h3>
	<p>A manager for Procfile-based applications. Its aim is to abstract away the details of the Procfile format, and allow you to either run your application directly or export it to some other process management format.</p>
</div>
<div class="dev-tool">
	<h3>Upstart</h3>
	<p>An event-based replacement for the /sbin/init daemon which handles starting of tasks and services during boot, stopping them during shutdown and supervising them while the system is running.</p>
</div>