/**
 * Contains layout-specific SCSS like grids and positioning
 */


// These variables determine the grid sizes
$blueprint_grid_columns: 16;
$blueprint_grid_width: 40px;

body {
	background: $bodyBgColor;
}
#page {
	@include container;

	#header {
		@include column(16);

		ul.nav {
			@include horizontal-list;
		}
	}
	#content {
		@include column(16);
	}
	#footer {
		@include column(16);
	}
}
